@model Modelos.ArticuloVm
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Peinado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.Nombre" class="control-label"></label>
                <input asp-for="Producto.Nombre" class="form-control" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Valor" class="control-label"></label>
                <input asp-for="Producto.Valor" class="form-control" />
                <span asp-validation-for="Producto.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Imagen" class="control-label"></label>
                <input type="file" asp-for="Producto.Imagen" class="form-control" />
                <span asp-validation-for="Producto.Imagen" class="text-danger"></span>
            </div>

           
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Producto.CategoriaId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m=> m.Producto.CategoriaId,Model.ListaCateggorias,
                    "Por favor seleccione un cliente ",new {@class="form-control"})

                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>


</div>

